body {
  margin: 0 auto;
  font-family: Soehne, "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
}
h1 {
  color: #1a212a;
  text-align: center;
  margin-top: 0px;
  padding-top: 20px;
  margin-bottom: 0px;
}
label {
  text-align: start;
  margin-left: 5px;
  font-size: 0.7rem;
}
input {
  border-radius: 4px;
  outline: none;
  border: 1px solid #1a212a;
  padding: 10px;
  box-sizing: border-box;
}
input:focus {
  border: 2px solid #e74b90;
}
.submit-button {
  cursor: pointer;
  padding: 10px;
  border: none;
  font-weight: 600;
  background-color: #1a212a;
  color: white;
  border-radius: 4px;
}
.sortBy-button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  font-weight: 600;
  background-color: #5e3de8;
  color: white;
  border-radius: 4px;
  margin: 40px 0 40px 0;
}
.submit-button:hover {
  background-color: #454e59;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.prettyColor {
  background: linear-gradient(
    90.75deg,
    rgba(61, 99, 232, 0.1) -6.61%,
    rgba(94, 61, 232, 0.1) 4.61%,
    rgba(231, 75, 144, 0.1) 89.14%,
    #ed7a7a1a 107.65%
  );
}
.flex-container-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 15px;
}
.labelAndInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title input {
  width: 250px;
}
.title label {
  margin-left: 10px;
}
input[name="description"] {
  width: 450px;
  min-height: 80px;
}
@media (max-width: 650px) {
  input[name="description"] {
    width: 300px;
  }
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  flex-wrap: wrap;
  gap: 15px;
}
.flex-container-noHeight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
@media (max-width: 650px) {
  .flex-container-noHeight {
    flex-direction: column;
  }
}
.sortBy {
  display: inline;
}
.sortBy label {
  font-size: 1rem;
}
li {
  margin: 20px;
}
